@import './variables.scss';

/* ApeX Colour Classes */
.apex-green{
  color: $apex-green;
}
.apex-grey{
  color: $apex-grey;
}
.apex-dark-grey{
  color: $dark-grey;
}
.apex-black{
  color: $black;
}

