@font-face {
  font-family: IBMPlexSans;
  src: url(../fonts/IBMPlexSans/IBMPlexSans-Regular.ttf);
}
@font-face {
  font-family: IBMPlexSansBold;
  src: url(../fonts/IBMPlexSans/IBMPlexSans-Bold.ttf);
}
.IBMPlexSans {
  font-family: 'IBMPlexSans';
}
.IBMPlexSansBold {
  font-family: 'IBMPlexSansBold';
}

@font-face {
  font-family: TWKEverett;
  src: url(../fonts/TWKEverett/TWKEverett-Regular-web.ttf);
}
.TWKEverett {
  font-family: "TWKEverett";
}