@import './variables.scss';
@import './mixins.scss';
@import './fonts.scss';


:root {
  color: $apex-font;
  background-color: $apex-dark-grey;
  font-family: Courier, monospace, 'IBMPlexSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#app {
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
  padding: 0;
}

body {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

/* ApeX Colour Classes */
.apex-green{
  color: $apex-green;
}
.apex-grey{
  color: $apex-grey;
}
.apex-dark-grey{
  color: $apex-dark-grey;
}
.apex-black{
  color: $black;
}

.apex-bg-green{
  background: $apex-green;
}
.apex-bg-grey{
  background: $apex-grey;
}
.apex-bg-dark-grey{
  background: $apex-dark-grey;
}
.apex-bg-black{
  background: $black;
}
.apex-bg-white{
  background: $white;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.link {
  font-family: "TWKEverett";
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  text-decoration-line: none;
  color: $grey-100;
  padding-bottom: 0.3rem;
  transition: transform 600ms cubic-bezier(0.23, 1, 0.32, 1);
  &:hover,
  &:active,
  &:focus {
    text-decoration: line-through;
    cursor: pointer;
  }
}
