@import './variables.scss';
@import './mixins.scss';
@import './fonts.scss';

:root {
  color: $apex-font;
  background-color: $apex-grey;
  font-family: 'IBMPlexSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}



body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100%;
  // @include breakpoint($break-ssm) {
  //   width: 100%;
  //   height: 100%;
  // }
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.row {
  width: 100%;
}

/* ApeX Colour Classes */
.apex-green {
  color: $apex-green;
}
.apex-grey {
  color: $apex-grey;
}
.apex-dark-grey {
  color: $apex-dark-grey;
}
.apex-black {
  color: $black;
}

.apex-bg-green {
  background: $apex-green;
}
.apex-bg-grey {
  background: $apex-grey;
}
.apex-bg-dark-grey {
  background: $apex-dark-grey;
}
.apex-bg-black {
  background: $black;
}
.apex-bg-white {
  background: $white;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.link {
  font-family: 'TWKEverett';
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  // text-decoration-line: none;
  color: $white;
  padding-bottom: 0.3rem;
  transition: transform 600ms cubic-bezier(0.23, 1, 0.32, 1);
  
  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    // text-decoration: line-through;
    cursor: pointer;
  }
}
.link-active, .router-link-active{
  // border-color: rgb(69, 73, 77);
  cursor: pointer;
}

.green-button {
  width: 280px;
  height: 40px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: $apex-grey;
  background-color: $apex-green;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid $apex-green;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.3s linear;
  cursor: pointer;

  &:hover,
  &:focus &:focus-visible {
    color: $black;
    border: 1px solid $apex-green;
  }
  @include breakpoint($break-ssm) {
    margin: 0 auto;
  }
}

.green-button:disabled {
  background: #c6c6c6;
  border: 1px solid #c6c6c6;
  color: $white;
  cursor: not-allowed;
}

.grey-button {
  width: 280px;
  height: 40px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: $white;
  background-color: $apex-grey;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid $apex-grey;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.3s linear;
  cursor: pointer;

  &:hover,
  &:focus &:focus-visible {
    color: $apex-green;
    border: 1px solid $apex-grey;
  }
  @include breakpoint($break-ssm) {
    margin: 0 auto;
  }
}

.scroll-button {
  color: $grey-80;
  background-color: $white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;
  border: 1px solid $white;
  border-radius: 30px;
  margin: 0;
  cursor: pointer;
  transition: border-color 0.6s;

  &:hover {
    border-color: $apex-green;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.icon-button {
  color: $white;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: transform 600ms cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;

  &:hover {
    color: $apex-green;
  }
  &:focus,
  &:focus-visible {
    outline: none;
  } 
}
.icon-button:disabled {
  cursor: not-allowed;
}

// button:disabled {
//   border: 1px solid $grey-80;
//   background: $grey-20;
//   color: #101010;
//   cursor: not-allowed;
//   transition: border-color 0.6s;
// }

.mobile-hidden {
  display: block;
  @include breakpoint($break-ssm) {
    display: none !important;
  }
  @include breakpoint($break-sm) {
    display: none !important;
  }
}

.mobile-show {
  display: none;
  @include breakpoint($break-sm) {
    display: block;
  }
}
